<div class="search-result-card">
  <!-- <a [href]="video.videoLink"> -->
   
     <img [src]="video.thumbnailUrl" alt="Video Thumbnail" class="thumbnail"> 
    
    <div class="video-info">
       <div class="video-title">{{ video.titre }}</div> 
      <!-- <div class="description">{{ video.description }}</div> -->
      <!-- <div class="channel-info"> -->
        <!-- <img [src]="video.channelIconUrl" alt="Channel Icon" class="channel-icon"> -->
        <!-- <span>{{ video.channelName }}</span> -->
      <!-- </div> -->
      <!-- <div class="views-time">{{ video.viewsCount | number }} views • {{ video.uploadDate }}</div> -->
    </div>
    <!-- Uncomment the following lines if you want to add interaction buttons -->
    <!--
    <div class="interaction-buttons">
      <button class="interaction-button">Watch Later</button>
      <button class="interaction-button">Save</button>
      <button class="interaction-button">Share</button>
    </div>
    -->
  <!-- </a> -->
</div>
